<div id="page_wrapper">
	<div id="profile_image">
		
	</div>

	<div id="content">
		<h1>I am Yogesh Nogia</h1>
		<p>Front-end Engineer</p>
		<p>Skills: Angular 2, jQuery, Javascript, Html5, MySql</p>
		<p>Find me on twitter.com<a href="http://twitter.com/yogeshnogia">@yogeshnogia</a> or on the web at <a href="http://yogeshnogia.github.io/yogeshnogia"></a></p>
	</div>
</div>